# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# --- Docker ---
# Ignoramos archivos locales que no deben ir al repositorio
docker-compose.override.yml

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

# --- IDEs (Editores de código) ---
.vscode/
.idea/
*.swp
